<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>Model</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>Model</key>
		<dict>
			<key>Menu</key>
			<data>
			MxIAU7BPlv8XtgFOsc6W1tj0Urb8PLBZx6RgmCi7/Yo=
			</data>
			<key>Section</key>
			<data>
			9p6Nr0vDLKuyzDUAV47mp3uTdIvPNPTaoI7jDgioJrM=
			</data>
		</dict>
	</dict>
</dict>
</plist>
